<%- include("header.ejs") %>
    <div class="box" id="heading">
        <h1>about us</h1>
    </div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum ea, consectetur architecto velit voluptates dolorum provident repellendus officiis sed inventore iste fugiat reiciendis quo, eius excepturi! Sequi labore voluptatem facilis!</p>

    <%- include("footer.ejs") %>